/* CSS Reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
}


.hero-container {
    background-image: url(../images/Hero-1.png);
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;

}

