/* CSS Reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
    background-color: #f4f7f9;
    flex-wrap: wrap;
}


.hero-container {
    background-image: url(../images/Hero-1.png);
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
    /* color: white; */
    padding: 30px 100px;
}

/* Header & navigation Styles  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo>a {
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.nav>.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: large;
}

.nav>.nav-links>li>a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-btn {
    background-color: white;
    color: #3E86F5;
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Hero Section Styles */
.hero-content {
    text-align: center;
    max-width: 850px;
    margin: 120px auto 0;
    color: white;
    /* border: 1px solid red; */
}

.hero-content h1 {
    font-size: 64px;
}

.hero-content p {
    font-size: 24px;
    line-height: 200%;
    margin-top: 40px
}

/* Booking Section Styles */
/* .booking-container { */
/* border: 1px solid blue;
    max-width: 1100px;
    position: absolute;
    width: 80%;
    left: 50%; */
/* } */





/* Special Offers Styles  */
.special-offers {
    margin: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f7f9;
}

.special-offers h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;

}

.top-offers-tabs {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}


.offer-btn {
    border: none;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #000000;

}

.offer-btn.active {
    background-color: #3E86F5;
    color: white;
    box-shadow: 0 4px 10px rgba(77, 150, 255, 0.3);
}


/* Bottom Offers Grid Styles  */
.bottom-offers {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.offer-card {
    background-color: #ffffff;
    border-radius: 24px;
    padding: 16px 34px 16px 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.offer-img-container {
    position: relative;
}

.offer-card img {
    width: 100%;
}

/* Vertical Date Styling  */
.card-date {
    position: absolute;
    top: 50px;
    z-index: 10;
    right: -25px;
    writing-mode: vertical-rl;
    /* transform: rotate (180deg); */
    color: #8895A7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 8px;
}

.card-content {
    padding: 20px 10px;
}

.card-info-tap {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 12px;
}

.tag {
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;

}

.tag-relax {
    background-color: #FCDDEC;
}

.tag-adventure {
    background-color: #F1F1FD;
    color: #7879F1;
}

.duration {
    font-size: 14px;
    color: #00000080;
}

.card-subtitle {
    font-size: 24px;
    font-weight: 500;
    color: Black;
    padding: 10px 0;
}

.card-info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 20px;
    font-weight: 700;
    color: black;
}


.price>span {
    font-size: 16px;
    font-weight: 400;
    color: #8895A7;
}

.book-btn {
    text-decoration: none;
    color: #3E86F5;
    background-color: #F2F6FF;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
}

.book-btn:hover {
    background-color: #e1e9fa;
}

/* Travel Section Styles  */
.travel-section {
    margin: 100px 0;
    /* max-width: 1200px; */
}

.travel-section>.container {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #f4f7f9;
    align-items: center;
    padding: 0 50px;
}

.text-column {
    padding-left: 60px;
    /* flex: 1; */
}

.travel-image-column {
    position: relative;
}

.text-column h2 {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
    line-height: 1.2;
    /* border: 2px solid red; */


}

.text-column p {
    font-size: 20px;
    color: #555555;
    margin-bottom: 20px;
    text-align: justify;

}

.contact-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.contact-btn:hover {
    background-color: #0056b3;
}

.stat-box {
    background-color: white;
    border-radius: 15px;
    padding: 15px 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.stat-number {
    font-size: 1.4em;
    font-weight: 700;
    color: #007bff;
}

.stat-label {
    font-size: 01em;
    text-transform: uppercase;
    color: #666;
}


.top-right {
    top: 45px;
    right: -80px;
}

.middle-left {
    top: 50%;
    left: -70px;
    transform: translate(-50);
}

.bottom-right {
    bottom: 45px;
    right: -80px;
}


/* Destination Section  */
.destination-section {
    /* border: 1px solid purple; */
    max-width: 1200px;
    margin: 100px auto;
}

.destination-section>.container {
    padding: 0 20px;
}

.destination-section h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.category-tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.tab-button {
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
}

.tab-button.active {
    background-color: #ffffff;
    color: #3E86F5;
    box-shadow: 0 4px 10px rgba(77, 150, 255, 0.3);
}

.tab-button.adb {
    color: #00000080;
}

.destination-card-grid {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.destination-card {
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
    /* cursor: pointer; */
    position: relative;
}

.destination-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.15);
}

.card-image-wrapper {
    overflow: hidden;
    border-radius: 20px;
    height: 200px;
    margin-bottom: 15px;
    /* border: 1px solid red; */
}

.card-image-wrapper>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.destination-card:hover img {
    transform: scale(1.08);
}

.fa-map-marker-alt {
    color: red;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 15px;
}

.card-location {
    margin: 0 0 0 15px;
}

.fa-star {
    color: gold;
    font-size: 10px;
}

.card-image-wrapper span {
    background-color: white;
    position: absolute;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 10px;
    top: 20px;
    right: 20px;
}

.card-location {
    font-size: 14px;
    color: #00000080;
}

.testimonial-section {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.testimonial-wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
    /* border: 1px solid red; */
}

.testimonial-card {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 270px;
}

.quote-icon > img {
    font-size: 400px;
    color: #dcdcdf;
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    z-index: 0;
    left: 40%;
}

.testimonial-text {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.author-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #3E86F5;
    text-align: center;
}

.author-title {
    font-size: 20px;
    text-align: center;
    color: #00000080;
    position: relative;
    z-index: 1;
}

.author-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    z-index: 3;
}

.author-rating {
    display: flex;
    align-items: center;
    font-size: 10px;
    background-color: white;
    padding: 3px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 3px;
    right: 35%;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    left: 37%;
    background-color: white;
}

.next {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* Discount Banner Section Styles  */

.discount-banner-section .container {
    background-image: url(../images/DontMiss.png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 60px 80px;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 60px;
}

.discount-banner-section h2 {
    font-size: 48px;
    font-weight: 700;
}

.discount-banner-section a {
    text-decoration: none;
    background-color: white;
    color: #3E86F5;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-top: 40px;
}

.discount-banner-section a:hover {
    background-color: #e1e9fa;
}


/* Footer Styling  */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.footer-nav ul {
    display: flex;
    gap: 40px;
}

.footer-nav ul li {
    list-style: none;
}

.footer.nav ul li a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
}