/* CSS Reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
}


.hero-container {
    background-image: url(../images/Hero-1.png);
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
color: white;
padding: 30px 100px;
}

/* Header & navigation Styles  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo > a {
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}
.nav > .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: large;
}

.nav > .nav-links > li > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-btn {
    background-color: white;
    color: #3E86F5;
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Hero Section Styles */
.hero-content {
    text-align: center;
    max-width: 850px;
    margin: 120px auto 0;
    /* border: 1px solid red; */
}

.hero-content h1 {
    font-size: 64px;
}

.hero-content p {
    font-size: 24px;
    line-height: 200%;
    margin-top: 40px
}

/* Booking Section Styles */
.booking-container {
    /* border: 1px solid blue;
    max-width: 1100px;
    position: absolute;
    width: 80%;
    left: 50%; */
}